@model TaskManagement.Models.TaskItem

@{
    ViewData["Title"] = "Delete " + Model.Title;
}

<h3>Are you sure you want to delete task @Model.Title?</h3>
<h3 style="color:red">Deleting a task will also remove all employee activity related to it. It is recomended to leave mark tasks as 'Closed' instead of deleting them!</h3>
<div>
    <hr class="color-purple-08" />
    <dl class="row">
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.Title)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.AssignedTo)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.AssignedTo)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.WorkedHours)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.WorkedHours)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.Priority)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </div>
        <div class="col-md-12">
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary btn-secondary" asp-action="Index">Cancel</a>
    </form>
</div>
