@model TaskManagement.Models.TaskItemViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = Model.TaskItem.Title + " Details";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<h1>Details for @Model.TaskItem.Title</h1>
<div>
    <hr class="color-purple-08" />
    <dl class="row">
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.TaskItem.CreatedBy)
            </dt>
            <dd class = "row padding-inherit" style="padding:inherit">
                @Html.DisplayFor(model => model.TaskItem.CreatedBy)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.TaskItem.AssignedTo)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.TaskItem.AssignedTo)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.TaskItem.WorkedHours)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.TaskItem.WorkedHours)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.TaskItem.Priority)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.TaskItem.Priority)
            </dd>
        </div>
        <div class="col-md-4 col-sm-6">
            <dt class = "row padding-inherit">
                @Html.DisplayNameFor(model => model.TaskItem.Status)
            </dt>
            <dd class = "row padding-inherit">
                @Html.DisplayFor(model => model.TaskItem.Status)
            </dd>
        </div>
        <div class="col-md-12">
            <div class = "row padding-inherit">
                @Html.DisplayFor(model => model.TaskItem.Description)
            </div>
        </div>
    </dl>
</div>
<div>
    <a class="btn btn-purple" asp-action="Edit" asp-route-id="@Model?.TaskItem.ID">Edit</a>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <h4>Comments</h4>
        <hr />
        <div>
            <form asp-action="Create" asp-controller="Comments">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TaskItemID" value="@Model.TaskItem.ID" />
                <div class="form-group mb-3">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-purple" />
                </div>
            </form>
        </div>
        @foreach (var item in Model.Comments)
        {
            <div class="card-body">
                <div class="mb-3">
                    Author: @Html.DisplayFor(modelItem => item.Author) - @Html.DisplayFor(modelItem => item.CreatedDate)
                </div>
                <div class="mb-3">
                    @Html.DisplayFor(modelItem => item.Message)
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h4>Files</h4>
        <hr />
        <div>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="TaskItemID" value="@Model.TaskItem.ID" />
                <div class="form-group mb-3">
                    <input type="file" name="files" multiple required />
                    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-purple" asp-controller="Files" asp-action="UploadToFileSystem">Upload to File System</button>
                </div>  
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Added On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.FilesOnFileSystem)
                    {
                        <tr>
                            <td>@file.NameWithExtension</td>
                            <td>@file.Description</td>
                            <td>@file.CreatedOn</td>
                            <td>
                                <a type="button" class="btn btn-purple" asp-controller="Files" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id">Download</a>
                                <a type="button" class="btn btn-danger" asp-controller="Files" asp-action="DeleteFileFromFileSystem" asp-route-id="@file.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
