@model TaskManagement.Models.TaskItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.AssignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.AssignedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.ActivatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.ActivatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.WorkedHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.WorkedHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskItem.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskItem.Description)
        </dd>
    </dl>
</div>
<div>
    <h4>Comments</h4>
    <hr />
    @foreach (var item in Model.Comments)
    {
        <div class="card-body">
            <div class="mb-3">
                Author: @Html.DisplayFor(modelItem => item.Author) - @Html.DisplayFor(modelItem => item.CreatedDate)
            </div>
            <div class="mb-3">
                @Html.DisplayFor(modelItem => item.Message)
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Comments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskItemID" value="@Model.TaskItem.ID"/>
            @*<div class="form-group mb-3">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>*@
            <div class="form-group mb-3">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskItem.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
